{% extends "base_template.html" %}
{% load views_extras %}
{% block title %}CATTLE commits {{ commits.number }}{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
<style>
.required label:after {
color: #e32;
content: ' *';
display:inline;
}
.required { font-weight: bold; }
</style>
{% endblock %}

{% block headscripts %}
{% endblock %}


{% block content %}
<center>
<div class = "navbar" style="margin-left: 40%;">
<ul class="pagination pagination-content">
        {% if commits.has_previous %}
            <li class="pagination-control"><a href="?page={{ commits.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ commits.number }} of {{ commits.paginator.num_pages }}</a></li>

        {% if commits.has_next %}
            <li class="pagination-control"><a href="?page={{ commits.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>

<div class="table">
  <div class="header">
    <div class="cell" style = "width: 100px;">Revision</div>
    <div class="cell" style = "width:100px;">Author</div>
    <div class="cell" style = "width:150px;">Run Summary</div>
    <div class="cell">Branch</div>
    <div class="cell">Message</div>
  </div>
  <div class="rowGroup">    
    {% for commit in commits %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {{commit.overall}}">    
        <div class = "cell"><a href="/commits/report_dev/{{commit.revision}}">{{commit.revision}}</a></div>
        <div class = "cell"><a href="/commits/list/author/{{commit.author}}/">{{commit.author}}</a></div>
        <div class = "cell">{{commit.summary}}</div>
        <div class = "cell">{{commit.branch}}</div>
        <div class = "cell">{{commit.message}}</div>        
    </div>
    {% endfor %}

  </div>
</div>


<center>
<div class = "navbar">
<ul class="pagination pagination-content">
        {% if commits.has_previous %}
            <li class="pagination-control"><a href="?page={{ commits.previous_page_number }}">Prev</a></li>
        {% endif %}
       
            <li><a>Page {{ commits.number }} of {{ commits.paginator.num_pages }}</a></li>

        {% if commits.has_next %}
            <li class="pagination-control"><a href="?page={{ commits.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>
{% endblock %}

{% block footscripts %}
<script>    

</script>
{% endblock %}