{% extends "base_template.html" %}
{% load views_extras %}
{% block title %}CATTLE Commit Report {{ commit.revision }}{% endblock %}

{% block styles %}
<style>
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
    font-size: 1vw;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;				/* width of whole page */
	overflow:hidden;			/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;				/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;		/* no left and right padding on columns, we just make them narrower instead 
						only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column blog style settings */
.blogstyle {
	background:#eee;			/* right column background colour */
}
.blogstyle .colmid {
	right:25%;				/* width of the right column */
}
.blogstyle .colleft {
	right:25%;				/* width of the middle column */
	background:#fff;			/* left column background colour */
}
.blogstyle .col1 {
	width:21%;				/* width of center column content (column width minus padding on either side) */
	left:52%;				/* 100% plus left padding of center column */
    
    }
.blogstyle .col2 {
	width:21%;				/* Width of left column content (column width minus padding on either side) */
	left:56%;				/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
    }
.blogstyle .col3 {
	width:46%;				/* Width of right column content (column width minus padding on either side) */
	left:60%;				/* Please make note of the brackets here:
						(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */

                        }
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}

</style>
{% endblock %}

{% block headscripts %}
{% endblock %}


{% block content %}
<div id="header">
	
<p id="layoutdims">Summary:{{summary}}</p>
</div>
<div style = "margin-bottom:0%;" class="colmask blogstyle">
	<div class="colmid">
		<div class="colleft">
			<div class="col1 ">
				<!-- Column 1 start -->
                <H2>Commit Information:</H2>
                <div class="{{overall}}">
                <b>Revision:</b>{{commit.revision}}<br>
                <b>Author:</b>{{commit.author}}<br>
                <b>Directory:</b>{{commit.branch}}<br>
                <b>Message:</b>{{commit.message}}
                </div>
                <!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
                <H2>Compile Operations:</H2>
				{% for run in runs %}
                {% if ".com" not in run.builder.address|address_tail %}
                <div style="width:100%;" class="{{ run.run_results|translate_PF_class }}">
				<b>Builder:</b><a href='{{run.builder.address}}'>{{run.builder.address|address_tail}}</a><br>
                <b>OS:</b>{{run.operating_system}}<br>
                <b>STATUS:</b>{{ run.run_results|translate_PF_class }} <b>LOGS:</b> <a href = "{% if "http://" in run.builder.address%}{{run.builder.address}}/builds/{{run.build_number}}{% else %}http://cowtracks.yourdomain.com/view/{{run.builder.address}}/{{run.build_number}}{% endif %}" target = "_EMPTY">{{run.build_number}}</a>
                <button class = "alignright" id="my-edit-button-{{run.pk}}">Edit</button>{% if run.history.all.count > 1 %} <button class = "alignright" id="my-history-button-{{run.pk}}">Hist</button> {% endif %}
                <div class="cell">{{run.caused_bug|jira_pull_br|safe}}</div>
                <div class="cell">{% if run.comment != "" %} <b>Comment:</b> {% endif %}{{run.comment|linebreaks}} {% if run.comment != "" %} ~{{ run.username }} {% endif %}</div>
                </div>
                <div style="height:2px;"><!--This is the white seperator between entries--></div>
                {% endif %}
                {% endfor %}
                <!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
                <H2>FLDC Testing:</H2>
                {% for run in runs %}
                {% if ".com" in run.builder.address|address_tail %}
                <div style="width:100%;" class="{{ run.run_results|translate_PF_class }}">
                <b>Tester:</b><a href='http://{{run.builder.address}}'>{{run.builder.address|address_tail}}</a><br>
                <b>OS:</b>{{run.operating_system}}<br>
                <b>Suite:</b>{{run.suite_file|address_tail}}<br>
                <b>STATUS:</b>{{ run.run_results|translate_PF_class }} <b>LOGS:</b> <a href = "{% if "http://" in run.builder.address%}{{run.builder.address}}/builds/{{run.build_number}}{% else %}http://cowtracks.yourdomain.com/view/{{run.builder.address}}/{{run.build_number}}{% endif %}" target = "_EMPTY">{{run.build_number}}</a>
                
                <button class = "alignright" id="my-edit-button-{{run.pk}}">Edit</button>{% if run.history.all.count > 1 %} <button class = "alignright" id="my-history-button-{{run.pk}}">Hist</button> {% endif %}
                <div class="cell">{{run.caused_bug|jira_pull_br|safe}}</div>
                <div class="cell">{% if run.comment != "" %} <b>Comment:</b> {% endif %}{{run.comment|linebreaks}} {% if run.comment != "" %} ~{{ run.username }} {% endif %}</div>
             
                </div>
                <div style="height:2px;"><!--This is the white seperator between entries--></div>
                {% endif %}
                {% endfor %}
                <!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footscripts %}
<script>    
{% for run in runs %}
;(function($) {
        $(function() {
            $('#my-edit-button-{{run.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/runs/edit/{{run.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
;(function($) {
        $(function() {
            $('#my-history-button-{{run.pk}}').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/runs/history/{{run.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
{% endfor %}
</script>
{% if donotrefresh %}
<!-- no auto-refresh on this page by request -->
{%else%}
<script>
<!--

/*
Auto Refresh Page with Time script
By JavaScript Kit (javascriptkit.com)
Over 200+ free scripts here!
*/

//enter refresh time in "minutes:seconds" Minutes should range from 0 to inifinity. Seconds should range from 0 to 59
var limit="5:00"

if (document.images){
var parselimit=limit.split(":")
parselimit=parselimit[0]*60+parselimit[1]*1
}
function beginrefresh(){
if (!document.images)
return
if (parselimit==1)
window.location.reload()
else{ 
parselimit-=1
curmin=Math.floor(parselimit/60)
cursec=parselimit%60
if (curmin!=0)
curtime=curmin+" minutes and "+cursec+" seconds left until page refresh!"
else
curtime=cursec+" seconds left until page refresh!"
window.status=curtime
setTimeout("beginrefresh()",1000)
}
}

window.onload=beginrefresh
//-->
</script>
{% endif %}
{% endblock %}







