{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">       
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/jquery.bpopup.min.js"></script> 
</head>
<body>

<center>
<div>
{{message}}
</div>


<!-- Edit mode pop up holder-->

<div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9999; opacity: 1; display: block; height: auto; width: 80%;" id="edit_pop_up">
        <div style="height: auto; width: auto; background-color:white;" class="content"></div>
</div>
    
    
<h5>Note:Branch and Builders can only be changed in edit view, and Buildreports can only be deleted from admin.</h5>
    
<div class="table">
  <div class="header">
    <div class="cell">title</div>
    <div class="cell" style = "min-width:200px;">description</div>
    <div class="cell">Type</div>
    <div class="cell" >Entry Type</div>
    <div class="cell" >Username</div>
    
    {#<div class="cell">Restore</div>#}
    
  </div>
  <div class="rowGroup"> 
    {% for buildreportset in buildreports %}
    {% for buildreport in buildreportset.history.all %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row PASS }}">    
        {# Each "buildreport" is a buildreport model object. #}
        <div class = "cell">{{ buildreport.title }}</div>
        <div class = "cell">{{ buildreport.description|linebreaks }}</div>
        <div class = "cell">{% if buildreport.private %} Private {% else %} Public {% endif%}</div>
        <div class = "cell">{{buildreport.entrytype}}</div>
        <div class = "cell">{{buildreport.username}}</div>
        {% if 0 %}
        {# if 0 blocks the restore button from rendering #}
        <div class = "cell">
        
        {% if buildreport != buildreportset.history.all.0%}        
            <form action="/buildreports/history/{{buildreportset.pk}}/" method ="post"> 
                {% csrf_token %}
                <input type="hidden" name="restorepoint" value="{{ buildreport }}" >
                <input type="submit" value="Restore" />
            </form>
        {% else %}
            
        {% endif %}
        </div>
        {% endif %}
       
    </div>
    
    {% endfor %}
    {% endfor %}

  </div>
</div>

</center>

</body>
<footer>
<script>
    
;(function($) {
        $(function() {
            $('#my-edit-button').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            contentContainer:'.content',
            loadUrl: '/buildreports/edit/{{buildreports.0.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
</script>
</footer>
</html>