{% extends "base_template.html" %}

{% block title %}CATTLE Buildreports{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
<style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>
{% endblock %}

{% block headscripts %}
{% endblock %}


{% block content %}
<center>
<div class = "navbar" style="margin-left: 40%;">
<ul class="pagination pagination-content">
        {% if buildreports.has_previous %}
            <li class="pagination-control"><a href="?page={{ buildreports.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ buildreports.number }} of {{ buildreports.paginator.num_pages }}</a></li>

        {% if buildreports.has_next %}
            <li class="pagination-control"><a href="?page={{ buildreports.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>


<div class="table">
  <div class="header">
    <div class="cell">title</div>
    <div class="cell" style = "min-width:200px;">description</div>
    <div class="cell">branch</div>
    <div class="cell" style = "width:200px;">builders</div>
    <div class="cell">Type</div>
    <div class="cell">History?</div>
    
  </div>
  <div class="rowGroup">    
    {% for buildreport in buildreports %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {% if buildreport.private %}offline{% else %}INVL{% endif %}">    
        {# Each "buildreport" is a buildreport model object. #}
        <div class = "cell">{{ buildreport.title }}</div>
        <div class = "cell">{{ buildreport.description|linebreaks }}</div>
        <div class = "cell">{{ buildreport.branch }}</div>
        <div class = "cell">{% for builder in buildreport.builders.all %} {{builder}} {% endfor %}</div>
        <div class = "cell">{% if buildreport.private %} Private {% else %} Public {% endif%}</div>
        
        <div class = "cell"><button class = "" id="my-edit-button-{{buildreport.pk}}">Edit</button>{% if buildreport.history.all.count > 1 %} <button class = "" id="my-history-button-{{run.pk}}">Hist</button> {% endif %}
        
        
        <a href = "/buildreports/view/{{buildreport.pk}}/"><button class = "alignright" id="my-view-button-build{{buildreport.pk}}">View Build Report</button></a>
        <a href = "/buildreports/view_sr/{{buildreport.pk}}/"><button class = "alignright" id="my-view-button-suite{{buildreport.pk}}">View Suite Report</button></a>
        <a href = "/sitreps/view/{{buildreport.pk}}/"><button class = "alignright" id="my-view-button-sitrep{{buildreport.pk}}">View 7 Day Sitrep</button></a>
        </div>
    </div>
    {% endfor %}
    
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row PASS">    
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        <div class = "cell"></div>
        
        <div class = "cell">
        <a href = "?makenew=true" alt="Reports can only be deleted by an admin."><button>Add Report</button></a>
        </div>
    </div>

  </div>
</div>



<div class = "navbar">
<ul class="pagination pagination-content">
        {% if buildreports.has_previous %}
            <li class="pagination-control"><a href="?page={{ buildreports.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ buildreports.number }} of {{ buildreports.paginator.num_pages }}</a></li>

        {% if buildreports.has_next %}
            <li class="pagination-control"><a href="?page={{ buildreports.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>
{% endblock %}

{% block footscripts %}
<script>    
{% for buildreport in buildreports %}
;(function($) {
        $(function() {
            $('#my-edit-button-{{buildreport.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/buildreports/edit/{{buildreport.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
;(function($) {
        $(function() {
            $('#my-history-button-{{buildreport.pk}}').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/buildreports/history/{{buildreport.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
{% endfor %}
</script>
{% endblock %}