{% extends "base_template.html" %}
{% load views_extras %}
{% block title %}{{buildreports.title}}: Suite Report{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
<style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>
{% endblock %}

{% block headscripts %}
{% endblock %}


{% block content %}

<center>
<div class = "navbar" style="margin-left: 40%;">
<ul class="pagination pagination-content">
        {% if commits.has_previous %}
            <li class="pagination-control"><a href="?page={{ commits.previous_page_number }}">Prev</a></li>
        {% endif %}
            <li><a>Page {{ commits.number }} of {{ commits.paginator.num_pages }}</a></li>
        {% if commits.has_next %}
            <li class="pagination-control"><a href="?page={{ commits.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>

<h1>Builder information:</h1>
<div class="table" style="background-color:#eee;font-size:16px;">
  <div class="header" style="background:#eee;">
    <!--this is where builder collumn headers are generated-->
    {% for builder in buildreports.builders.all %}
    <div class="cell" style = "min-width:345px;width:345px;padding-left:0em;color:black;">{{builder.address|getbuilderstate|safe}}</div>
    {% endfor %}
   </div>
</div>

<h1>Suite Report:</h1>

<div class="table" style="background-color:#eee;font-size:16px;">
  <div class="header">
    <div class="cell headelement" style="color:black;">Commit</div>
    <!--this is where suite collumn headers are generated-->
    {% for suite in suitelist.all %}
    <div class="cell" style = "min-width:345px;width:345px;padding-left:0em;">{{suite.suite_file|suite_link}}</div>
    {% endfor %}
   </div>
   <div class= "rowGroup">
{% for commit in commits %}
    <div class="row" style="height:4px;" ><!--This is the white seperator between commits for commit of {{commit.commit}} --></div>
    <div class="row">
    <!--this is where commit information is rendered left side-->
    <div class="cell header headelement">
    <a href="http://fisheye.yourdomain.com/changelog/RNA?cs={{commit.commit}}">{{commit.commit}}</a>
    </div>
    <!--this is where run reports are rendered-->
    {% for suite in suitelist.all %}
    <div class="cell" style="padding-left:0em;vertical-align:top;background-color:white;">
    
    <div class="table" style="width:100%;">
    {% for run in runs %}{% if run.suite_file = suite.suite_file and run.commit.revision = commit.commit%}
    <div class="row {{ run.run_results|translate_PF_class }}{% if run.run_results == 0 and run.caused_bug == ""%} TBD{% endif %}" {%if run.comment|length = 0 and run.caused_bug|length = 0 %} style="height:70px;"{%endif%}>
    <div class="cell">{{run.end_time|date:"d M"}} Len: {{run.end_time|subtractdate:run.start_time|format_time}} Bld:<a href = "{% if "http://" in run.builder.address%}{{run.builder.address}}/builds/{{run.build_number}}{% else %}http://cowtracks.yourdomain.com/view/{{run.builder.address}}/{{run.build_number}}{% endif %}" target = "_EMPTY">{{run.build_number}}</a>
    <br>
    Builder: {% if run.builder.address == run.builder.address|address_tail%}<a href = "/runs/builder/{{run.builder.address}}/">{{run.builder.address}}</a>{% else %}{{run.builder.address|address_tail}}{% endif %}
    PF:<a href = "/tests/run/{{run.pk}}/">{{run.run_results|translate_PF}}</a>
    <br>OS: {% if run.operating_system == "NA" %}Logged upon completion.{% else %}{{run.operating_system}}{% endif %}
    <button class = "alignright" id="my-edit-button-{{run.pk}}">Edit</button>{% if run.history.all.count > 1 %} <button class = "alignright" id="my-history-button-{{run.pk}}">Hist</button> {% endif %}
    </div>
    </div>
    <div class="row {{ run.run_results|translate_PF_class }}{% if run.run_results == 0 and run.caused_bug == ""%} TBD{% endif %}" >
    <div class="cell">{{run.caused_bug|jira_pull_br|safe}}</div>
    </div>
    <div class="row {{ run.run_results|translate_PF_class }}{% if run.run_results == 0 and run.caused_bug == ""%} TBD{% endif %}" >
    <div class="cell">{% if run.comment != "" %} <b>Comment:</b> {% endif %}{{run.comment|linebreaks}} {% if run.comment != "" %} ~{{ run.username }} {% endif %}</div>
    </div>
    <div class="row" style="height:2px;" ><!--This is the white seperator between entries--></div>
    {% endif %}{% endfor%}
    </div>
    </div>
    {% endfor %}
    </div>
{% endfor %}  
    </div> 
</div>
<center>
<div class = "navbar">
<ul class="pagination pagination-content">
        {% if commits.has_previous %}
            <li class="pagination-control"><a href="?page={{ commits.previous_page_number }}">Prev</a></li>
        {% endif %}
            <li><a>Page {{ commits.number }} of {{ commits.paginator.num_pages }}</a></li>
        {% if commits.has_next %}
            <li class="pagination-control"><a href="?page={{ commits.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>
{% if loadtime %}<br><br>
Initial Data Load took {{loadtime}} Seconds, remaining loadtime can be attributed primarily to JIRA pulls.
{% endif %}

{% endblock %}

{% block footscripts %}
<script>    
{% for run in runs %}
;(function($) {
        $(function() {
            $('#my-edit-button-{{run.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/runs/edit/{{run.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
;(function($) {
        $(function() {
            $('#my-history-button-{{run.pk}}').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/runs/history/{{run.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
{% endfor %}
</script>
<script>
function highlight_class(myClass) {
    
    var index;
var a = document.getElementsByClassName(myClass);
for (index = 0; index < a.length; ++index) {
    a[index].className = a[index].className + " HIGHLIGHT";
    console.log('<!-- Highlighting '+index+'-->');
}

}

function unhighlight_class(myClass) {
    
    var index;
var a = document.getElementsByClassName(myClass);
for (index = 0; index < a.length; ++index) {
    a[index].className = a[index].className.replace(" HIGHLIGHT", "");;
    console.log('<!-- Unhighlighting '+index+'-->');
}

}
</script>
<script>
<!--

/*
Auto Refresh Page with Time script
By JavaScript Kit (javascriptkit.com)
Over 200+ free scripts here!
*/

//enter refresh time in "minutes:seconds" Minutes should range from 0 to inifinity. Seconds should range from 0 to 59
var limit="5:00"

if (document.images){
var parselimit=limit.split(":")
parselimit=parselimit[0]*60+parselimit[1]*1
}
function beginrefresh(){
if (!document.images)
return
if (parselimit==1)
window.location.reload()
else{ 
parselimit-=1
curmin=Math.floor(parselimit/60)
cursec=parselimit%60
if (curmin!=0)
curtime=curmin+" minutes and "+cursec+" seconds left until page refresh!"
else
curtime=cursec+" seconds left until page refresh!"
window.status=curtime
setTimeout("beginrefresh()",1000)
}
}

window.onload=beginrefresh
//-->
</script>
{% endblock %}




</body>
<footer>


</footer>
</html>