{% extends "base_template.html" %}
{% load views_extras %}
{% block title %}CATTLE Runs {{ runs.number }}{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
<style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>

<style>

.status_container {
    border-radius: 25px;
    background: #8AC007;
    padding: 20px; 
    width: 80%;
    //height: 50%; 
}

.mini_status_container {
    border-radius: 25px;
    background: #8AC007;
    padding: 20px;
    margin: 10px;
    //min-width:75px;
    //width: 25%;
    //height: 50%; 
}


.yellow
{
background-color:yellow;
}

.graph {
	width: 80%;
	height: 50px;
	border: 1px solid #aeaeae;
	background-color: #eaeaea;
}
.bar {
	width: 8px;
	//margin: 1px;
	display: inline-block;
	position: relative;
	background-color: #aeaeae;
	vertical-align: baseline;
}

.red {
background-color:#e88;
}
.grey
{
background-color:#D7D7D7;
}
.green{
background-color:#8d4;
}
</style>
{% endblock %}

{% block headscripts %}
{% endblock %}


{% block content %}
<h1>Report Title</h1>{{buildreports.description}}
<br><b>Branch:</b> {{buildreports.branch}}
<h2>High level status</h2>
<center>
<div class="status_container {%if totalCurrentFailing > 0 %}red{% elif totalFailing > 0 %}red{% else %}green{% endif %}" >
<h1>{{buildreports.branch}} {%if totalCurrentFailing > 0 %}is failing on the current build.{% elif totalFailing > 0 %}has unresolved failures in the last week.{% else %}looks great for the last week!{% endif %}</h2>
Most recent revision <a href="/runs/bycommit/{{commitlist.0.commit}}/">({{commitlist.0.commit}})</a>: {{totalCurrentSuites}} / {{totalSuites}} suites have been run.<br>
 
<span>{{totalCurrentPassing}} / {{totalCurrentSuites}} are passing suites</span><br>
<span>{{totalCurrentFailing}} / {{totalCurrentSuites}} are failing suites</span><br>
<br><br>
Last valid execution for each suite in the last week ({{totalSuites}} suites ran).<br>
<span>{{totalPassing}} / {{totalSuites}} are passing suites</span><br>
<span>{{totalFailing}} / {{totalSuites}} are failing suites</span><br>
</div>
</center>

<h2>Operating system level status</h2>
<center>
{% for os in oslist %}
<span class="mini_status_container {% for run in lastRuns %}{% if run.operating_system == os.operating_system %}{% if run.run_results > 10 or run.run_results = 0 %} red{% endif %}{% endif %}{% endfor %}">
{{os.operating_system}}
</span>
{% endfor %}
</center>
<h2>Failing test details</h2>
Details on recent failing tests like what test step failed, the logged message and associated JIRA bug/status.
<div class="table">
  <div class="header">
    <div class="cell" style = "width: 100px;">Date Time</div>
    <div class="cell" style = "width:250px;">Build Info</div>
    <div class="cell">Branch</div>
    <div class="cell">Duration</div>
    <div class="cell">Results</div>
    <div class="cell" style = "width:200px;">Caused Bug</div>
    <div class="cell" style = "width:150px;">Comment</div>
    
  </div>
  <div class="rowGroup">    
    {% for run in lastRuns %}{% if run.run_results == 0 or run.run_results >= 10 %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {{ run.run_results|translate_PF_class }}">    
        {# Each "run" is a run model object. #}
        <div class = "cell">{{run.end_time|date:"d M H:m"}}</div>
        <div class = "cell">
            {{run.operating_system}} on <a href="/runs/builder/{{run.builder.address}}/">{{run.builder|address_tail}}</a>
            <br>Build: <a href = "{% if "http://" in run.builder.address%}{{run.builder.address}}/builds/{{run.build_number}}{% else %}http://cowtracks.yourdomain.com/view/{{run.builder.address}}/{{run.build_number}}{% endif %}" target = "_EMPTY">{{run.build_number}}</a> Commit <a href="http://fisheye.yourdomain.com/changelog/RNA?cs={{run.commit.revision}}">{{run.commit.revision}}</a> 
            <br>STE: {{run.suite_file|suite_link}}
            <br>ENV: {{run.env_file|env_link}}
        </div>
        <div class = "cell">{{ run.parent_branch }}</div>
        <div class = "cell">{{ run.end_time|subtractdate:run.start_time|format_time }}</div>
        <div class = "cell">
            <a href="/tests/run/{{run.pk}}/" title = "View tests in run {{run.pk}}">Tests</a>
            <br>{{ run.run_results|translate_PF }}
        </div>
        <div class = "cell">{{ run.caused_bug|jira_pull|safe }}</div>
        <div class = "cell">{{ run.comment|linebreaks }}</div>
        
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>
<h2>Commit summary</h2>
A list of commits in the last 7 days and testing coverage/pass fail counts.
{% for commit in commitstats %}<div class="{% if commit.passes == commit.runcount %}green{% else %}{% endif %}"><a href="/runs/bycommit/{{commit.commit}}/">{{commit.commit}}</a> {{commit.passes}}/{{commit.runcount}} runs passed.</div>{% endfor %}
<h2>Bug list</h2>
{% for bugs in buglist %}
<div>{{ bugs.caused_bug|jira_pull|safe }}</div>
{% endfor %}

<h2>Suite list</h2>
{% for run in lastRuns %}
<div>{% if run.suite_file == "UNAVAILABLE" %}Build sequences count as a suite as well. {% else %}{{ run.suite_file }}{% endif %}</div>
{% endfor %}

<br><br><br>

{% comment %}<!--
<h2>Debug info</h2>
<h3>Suites</h3>
{% for suite in suitelist %}
{{suite.suite_file}}<br>
{% endfor %}
<br><br> <h3>Builders</h3>
{% for builder in buildreports.builders.all %}
{{builder}}<br>
{% endfor %}
<br><br>
<h3>All the runs</h3>
{% for run in runs %}
{{run.commit}}:{{run.builder.address}}=>{{run.suite_file}}<br>
{% endfor %}
-->{% endcomment %}
Spent {{loadtime}}

{% endblock %}

{% block footscripts %}
<script>    

</script>
{% endblock %}





