{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">   

</head>
<body>
<center>
<div class="table">
  <div class="header">
    <div class="cell">Name</div>
    <div class="cell">Full</div>
    <div class="cell" style="min-width:250px;">Summary</div>
    <div class="cell" style="min-width:250px;">Comment</div>
    <div class="cell" >entry type</div>
    <div class="cell" >username</div>
  </div>
  <div class="rowGroup"> 
    <div class="row" style="height:2px;"><!--This is the white separator between entries--></div>
    <div class="row PASS">    
        {# Each "branch" is a branch model object. #}

        <div class = "cell">{{ branch.name }}</div>
        <div class = "cell">{{ branch.full }}</div>
        
        <div class = "cell">{{ branch.summary }}</div>
        <div class = "cell">{{ branch.comment }}</div>
        
        <div class = "cell">{{ branch.entrytype }}</div>
        <div class = "cell">{{ branch.username }}</div>
    </div>
  </div>
</div>

</center>

{% if form%}
<div style="padding:1em;">
<form action="/branches/edit/{{branch.pk}}/" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Save Changes" />
</form>
</div>
{% endif %}


<div>
</div>



</body>
<footer>

</footer>
</html>