{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">       
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/jquery.bpopup.min.js"></script> 
</head>
<body>

<center>
<div>
{{message}}
</div>


<!-- Edit mode pop up holder-->

<div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9999; opacity: 1; display: block; height: auto; width: 80%;" id="edit_pop_up">
        <div style="height: auto; width: auto; background-color:white;" class="content"></div>
</div>
    
    
    
<div class="table">
  <div class="header">
    <div class="cell">Name</div>
    <div class="cell">Full</div>
    <div class="cell" style="min-width:250px;">Summary</div>
    <div class="cell" style="min-width:250px;">Comment</div>
    <div class="cell" >Entry Type</div>
    <div class="cell" >Username</div>
    
    <div class="cell">Restore</div>
    
  </div>
  <div class="rowGroup"> 
    {% for branchset in branches %}
    {% for branch in branchset.history.all %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row PASS">    
        {# Each "branch" is a branch model object. #}
        
        <div class = "cell">{{ branch.name }}</div>
        <div class = "cell">{{ branch.full }}</div>
        
        <div class = "cell">{{ branch.summary }}</div>
        <div class = "cell">{{ branch.comment }}</div>
        
        <div class = "cell">{{ branch.entrytype }}</div>
        <div class = "cell">{{ branch.username }}</div>
        
        <div class = "cell">
        {% if branch != branchset.history.all.0%}        
            <form action="/branches/history/{{branchset.pk}}/" method ="post"> 
                {% csrf_token %}
                <input type="hidden" name="restorepoint" value="{{ branch }}" >
                <input type="submit" value="Restore" />
            </form>
        {% else %}
            
        {% endif %}
        </div>
    </div>
    
    {% endfor %}
    {% endfor %}

  </div>
</div>

</center>

</body>
<footer>
<script>
    
;(function($) {
        $(function() {
            $('#my-edit-button').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            contentContainer:'.content',
            loadUrl: '/branches/edit/{{branches.0.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
</script>
</footer>
</html>