{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">    

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/jquery.bpopup.min.js"></script>     
</head>
<body>

<!-- Edit mode pop up holder-->

<div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9997; opacity: 1; display: block; height: auto; width: 80%;" id="edit_pop_up">
        
        <div style="height: auto; width: auto; background-color:white;float:left;z-index:9999;" class="content">
        </div>
        
</div>

<center>
<div class = "navbar">
<ul class="pagination pagination-content">
        {% if branches.has_previous %}
            <li class="pagination-control"><a href="?page={{ branches.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ branches.number }} of {{ branches.paginator.num_pages }}</a></li>

        {% if branches.has_next %}
            <li class="pagination-control"><a href="?page={{ branches.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>


<div class="table">
  <div class="header">
    <div class="cell">Name</div>
    <div class="cell">Full</div>
    <div class="cell" style="min-width:250px;">Summary</div>
    <div class="cell" style="min-width:250px;">Comment</div>
    <div class="cell">History?</div>
    
  </div>
    
    {% for branch in branches %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row PASS">    
        {# Each "branch" is a branch model object. #}
        
        <div class = "cell">{{ branch.name }}</div>
        <div class = "cell">{{ branch.full }}</div>
        
        <div class = "cell">{{ branch.summary }}</div>
        <div class = "cell">{{ branch.comment }}</div>
        <div class = "cell">{% if branch.history.all.count > 1 %} <a href="/branches/history/{{branch.pk}}/" id="my-history-button-{{branch.pk}}" title="View all {{branch.history.all.count}} edits."><img src="/static/images/history-ico.png" style="width:30px;"></a> {% endif %}
        
        <button id="my-edit-button-{{branch.pk}}">Edit</button>
        
        </div>
    </div>
    {% endfor %}


</div>



<div class = "navbar">
<ul class="pagination pagination-content">
        {% if branches.has_previous %}
            <li class="pagination-control"><a href="?page={{ branches.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ branches.number }} of {{ branches.paginator.num_pages }}</a></li>

        {% if branches.has_next %}
            <li class="pagination-control"><a href="?page={{ branches.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>

</body>
<footer>
<script>    
{% for branch in branches %}
;(function($) {
        $(function() {
            $('#my-edit-button-{{branch.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/branches/edit/{{branch.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
;(function($) {
        $(function() {
            $('#my-history-button-{{branch.pk}}').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/branches/history/{{branch.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
{% endfor %}
</script>
</footer>
</html>