.table {
    display:table;
}
.header {
    display:table-header-group;
    font-weight:bold;
    font-size: larger;
    background-color: #333;
    color: #FFF;
}
.rowGroup {
    display:table-row-group;
}
.row {
    display:table-row;
}
.cell {
    display:table-cell;
    padding-left:.5em;
    padding-right:.5em;
}

body {
    font-size: 1vw;
}

.alignright {
    float:right;
}

.resolution-Fixed, .resolution-Duplicate, .resolution-Invalid { text-decoration: line-through;}

.FAIL {background-color:#e88;} 
.offline, .unreachable {background-color: #D3B5FF;}
.TBD {background-color:#FF6600;} 
.PASS {background-color:#8d4;} 
.INVL, .idle {background-color: #D7D7D7;} 
.headelement {background-color:lightblue;}
.building, .HIGHLIGHT, .IPROG {background-color:#FFF140;} 
.BLOCKED {background-color: #ffb76c;}
 #edit_pop_up { display:none; }
 
 
 .content {
-moz-border-radius: 1em 1em 1em 1em;
border-radius: 1em 1em 1em 1em;
overflow:hidden;
-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
         -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

#popup, .bMulti {
    background-color: #FFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    min-height: 250px;
    padding: 25px;
}

#popup .logo {
    color: #2B91AF;
    font: bold 325% 'Petrona',sans;
}

.button.b-close, .button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

.button {
    background-color: #2B91AF;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

button {
font-size:12px;
font-size: .8vw;
}