{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">   

</head>
<body>
<center>
<div class="table">
  <div class="header">
    <div class="cell">Build Info</div>
    <div class="cell">Start Time</div>
    <div class="cell">End Time</div>
    <div class="cell">Results</div>
    <div class="cell" style = "width:275px;">Caused Bug</div>
    <div class="cell" style = "width:150px;">Comment</div>
    <div class="cell" >entry type</div>
    <div class="cell" >username</div>
  </div>
  <div class="rowGroup"> 
    <div class="row" style="height:2px;"><!--This is the white separator between entries--></div>
    <div class="row {{ runs.0.run_results|translate_PF_class }}">    
        {# Each "run" is a run model object. #}
        <div class = "cell">
            {{runs.0.operating_system}} on <a href="{{runs.0.builder}}">{{runs.0.builder|address_tail}}</a>
            <br>Build: <a href = "{% if "http://" in runs.0.builder.address%}{{runs.0.builder.address}}/builds/{{runs.0.build_number}}{% else %}http://cowtracks.yourdomain.com/view/{{runs.0.builder.address}}/{{runs.0.build_number}}{% endif %}" target = "_EMPTY">{{runs.0.build_number}}</a> Commit <a href="http://fisheye.yourdomain.com/changelog/RNA?cs={{runs.0.commit_number}}">{{runs.0.commit_number}}</a> 
            <br>STE: {{runs.0.suite_file|suite_link}}
            <br>ENV: {{runs.0.env_file|env_link}}
        </div>
        <div class = "cell">{{ runs.0.start_time }}</div>
        <div class = "cell">{{ runs.0.end_time }}</div>
        <div class = "cell">
            <a href="/tests/run/{{runs.0.pk}}/" title = "View tests in run {{runs.0.pk}}">Tests</a>
            <br>{{ runs.0.run_results|translate_PF }}
        </div>
        <div class = "cell">{{ runs.0.caused_bug|jira_pull|safe }}</div>
        <div class = "cell">{{ runs.0.comment|linebreaks }}</div>
        <div class = "cell">{{ runs.0.entrytype }}</div>
        <div class = "cell">{{ runs.0.username }}</div>
    </div>
  </div>
</div>

</center>

{% if form%}
<div style="padding:1em;">
<form action="/runs/edit/{{runs.0.pk}}/" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Save Changes" />
</form>
</div>
{% endif %}


<div>
</div>



</body>
<footer>

</footer>
</html>