{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">       
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/jquery.bpopup.min.js"></script> 
</head>
<body>

<center>
<div>
{{message}}
</div>


<!-- Edit mode pop up holder-->

<div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9999; opacity: 1; display: block; height: auto; width: 80%;" id="edit_pop_up">
        <div style="height: auto; width: auto; background-color:white;" class="content"></div>
</div>
    
    
    
<div class="table">
  <div class="header">
    <div class="cell">Results</div>
    <div class="cell" style = "width:275px;">Caused Bug</div>
    <div class="cell" style = "width:150px;">Comment</div>
    <div class="cell" >Entry Type</div>
    <div class="cell" >Username</div>
    
    <div class="cell">Restore</div>
    
  </div>
  <div class="rowGroup"> 
    {% for runset in runs %}
    {% for run in runset.history.all %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {{ run.run_results|translate_PF_class }}">    
        {# Each "run" is a run model object. #}
        <div class = "cell">
        {{ run.run_results|translate_PF }}
        </div>
        <div class = "cell">{{ run.caused_bug|jira_pull|safe }}</div>
        <div class = "cell">{{ run.comment|linebreaks }}</div>
        <div class = "cell">{{ run.entrytype }}</div>
        <div class = "cell">{{ run.username }}</div>
        
        <div class = "cell">
        {% if run != runset.history.all.0%}        
            <form action="/runs/history/{{runset.pk}}/" method ="post"> 
                {% csrf_token %}
                <input type="hidden" name="restorepoint" value="{{ run }}" >
                <input type="submit" value="Restore" />
            </form>
        {% else %}
            
        {% endif %}
        </div>
    </div>
    
    {% endfor %}
    {% endfor %}

  </div>
</div>

</center>

</body>
<footer>
<script>
    
;(function($) {
        $(function() {
            $('#my-edit-button').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            contentContainer:'.content',
            loadUrl: '/runs/edit/{{runs.0.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
</script>
</footer>
</html>