{% extends "base_template.html" %}
{% load views_extras %}
{% block title %}CATTLE Runs {{ runs.number }}{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
<style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>
{% endblock %}

{% block headscripts %}
{% endblock %}


{% block content %}
<center>
<div class = "navbar" style="margin-left: 40%;">
<ul class="pagination pagination-content">
        {% if runs.has_previous %}
            <li class="pagination-control"><a href="?page={{ runs.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ runs.number }} of {{ runs.paginator.num_pages }}</a></li>

        {% if runs.has_next %}
            <li class="pagination-control"><a href="?page={{ runs.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>

<div class="table">
  <div class="header">
    <div class="cell" style = "width: 100px;">Date Time</div>
    <div class="cell" style = "width:250px;">Build Info</div>
    <div class="cell">Branch</div>
    <div class="cell">Duration</div>
    <div class="cell">Results</div>
    <div class="cell" style = "width:200px;">Caused Bug</div>
    <div class="cell" style = "width:150px;">Comment</div>
    <div class="cell">History?</div>
    
  </div>
  <div class="rowGroup">    
    {% for run in runs %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {{ run.run_results|translate_PF_class }}">    
        {# Each "run" is a run model object. #}
        <div class = "cell">{{run.end_time|date:"d M H:m"}}</div>
        <div class = "cell">
            {{run.operating_system}} on <a href="{{run.builder.address}}">{{run.builder|address_tail}}</a>
            <br>Build: <a href = "{% if "http://" in run.builder.address%}{{run.builder.address}}/builds/{{run.build_number}}{% else %}http://cowtracks.yourdomain.com/view/{{run.builder.address}}/{{run.build_number}}{% endif %}" target = "_EMPTY">{{run.build_number}}</a> Commit <a href="http://fisheye.yourdomain.com/changelog/RNA?cs={{run.commit.revision}}">{{run.commit.revision}}</a> 
            <br>STE: {{run.suite_file|suite_link}}
            <br>ENV: {{run.env_file|env_link}}
        </div>
        <div class = "cell">{{ run.parent_branch }}</div>
        <div class = "cell">{{ run.end_time|subtractdate:run.start_time|format_time }}</div>
        <div class = "cell">
            <a href="/tests/run/{{run.pk}}/" title = "View tests in run {{run.pk}}">Tests</a>
            <br>{{ run.run_results|translate_PF }}
        </div>
        <div class = "cell">{{ run.caused_bug|jira_pull|safe }}</div>
        <div class = "cell">{{ run.comment|linebreaks }}</div>
        <div class = "cell"><button class = "alignright" id="my-edit-button-{{run.pk}}">Edit</button>{% if run.history.all.count > 1 %} <button class = "alignright" id="my-history-button-{{run.pk}}">Hist</button> {% endif %}
        
        
        
        </div>
    </div>
    {% endfor %}

  </div>
</div>


<center>
<div class = "navbar">
<ul class="pagination pagination-content">
        {% if runs.has_previous %}
            <li class="pagination-control"><a href="?page={{ runs.previous_page_number }}">Prev</a></li>
        {% endif %}
       
            <li><a>Page {{ runs.number }} of {{ runs.paginator.num_pages }}</a></li>

        {% if runs.has_next %}
            <li class="pagination-control"><a href="?page={{ runs.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>
{% endblock %}

{% block footscripts %}
<script>    
{% for run in runs %}
;(function($) {
        $(function() {
            $('#my-edit-button-{{run.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/runs/edit/{{run.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
;(function($) {
        $(function() {
            $('#my-history-button-{{run.pk}}').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'ajax',
            contentContainer:'.content',
            loadUrl: '/runs/history/{{run.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
{% endfor %}
</script>
{% endblock %}