{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">   

</head>
<body>
<center>
<div class="table">
  <div class="header">
    <div class="cell">Run</div>
    <div class="cell">Step</div>
    <div class="cell">Duration</div>
    <div class="cell">Results</div>
    <div class="cell" style = "width:275px;">Caused Bug</div>
    <div class="cell" style = "width:150px;">Comment</div>
    <div class="cell" >entry type</div>
    <div class="cell" >username</div>
  </div>
  <div class="rowGroup"> 
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {{ tests.0.test_results|translate_PF_class }}">    
        {# Each "test" is a Test model object. #}
        <div class = "cell"><a href = "/runs/id/{{tests.0.parentrun.pk}}/">{{tests.0.parentrun.pk}}</a></div>
        <div class = "cell">{{ tests.0.test_sequence_number }}</div>
        <div class = "cell">{{ tests.0.test_duration|format_time }}</div>
        <div class = "cell">{{ tests.0.test_results|translate_PF }}</div>
        <div class = "cell">{{ tests.0.caused_bug|jira_pull|safe }}</div>
        <div class = "cell">{{ tests.0.comment|linebreaks }}</div>
        <div class = "cell">{{ tests.0.entrytype }}</div>
        <div class = "cell">{{ tests.0.username }}</div>
    </div>
  </div>
</div>

</center>

{% if form%}
<div style="padding:1em;">
<form action="/tests/edit/{{tests.0.pk}}/" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Save Changes" />
</form>
</div>
{% endif %}


<div>
</div>



</body>
<footer>

</footer>
</html>