{% load views_extras %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">       
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/jquery.bpopup.min.js"></script> 
</head>
<body>

<center>
<div>
{{message}}
</div>


<!-- Edit mode pop up holder-->

<div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9999; opacity: 1; display: block; height: auto; width: 80%;" id="edit_pop_up">
        <div style="height: auto; width: auto; background-color:white;" class="content"></div>
</div>
    
    
    
<div class="table">
  <div class="header">
    <div class="cell">Run</div>
    <div class="cell">Step</div>
    <div class="cell">Duration</div>
    <div class="cell">Results</div>
    <div class="cell" style = "width:275px;">Caused Bug</div>
    <div class="cell" style = "width:150px;">Comment</div>
    <div class="cell" >entry type</div>
    <div class="cell" >username</div>
    
    <div class="cell">Restore</div>
    
  </div>
  <div class="rowGroup"> 
    {% for testset in tests %}
    {% for test in testset.history.all %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {{ test.test_results|translate_PF_class }}">    
        {# Each "test" is a Test model object. #}
        <div class = "cell"><a href = "/runs/id/{{testset.parentrun.pk}}/">{{testset.parentrun.pk}}</a></div>
        <div class = "cell">{{ test.test_sequence_number }}</div>
        <div class = "cell">{{ test.test_duration|format_time }}</div>
        <div class = "cell">{{ test.test_results|translate_PF }}</div>
        <div class = "cell">{{ test.caused_bug|jira_pull|safe }}</div>
        <div class = "cell">{{ test.comment|linebreaks }}</div>
        <div class = "cell">{{ test.entrytype }}</div>
        <div class = "cell">{{ test.username }}</div>
        
        <div class = "cell">
        {% if test != testset.history.all.0%}        
            <form action="/tests/history/{{testset.pk}}/" method ="post"> 
                {% csrf_token %}
                <input type="hidden" name="restorepoint" value="{{ test }}" >
                <input type="submit" value="Restore" />
            </form>
        {% else %}
            <!--removed edit button to support modal viewing of this page-->
        {% endif %}
        </div>
    </div>
    
    {% endfor %}
    {% endfor %}

  </div>
</div>

</center>

</body>
<footer>
<script>
    
;(function($) {
        $(function() {
            $('#my-edit-button').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            contentContainer:'.content',
            loadUrl: '/tests/edit/{{tests.0.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
</script>
</footer>
</html>