{% extends "base_template.html" %}
{% load views_extras %}
{% block title %}CATTLE Tests {{ tests.number }}{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
<style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>
{% endblock %}

{% block headscripts %}
{% endblock %}


{% block content %}
<center>
<div class = "navbar" style="margin-left: 40%;">
<ul class="pagination pagination-content">
        {% if tests.has_previous %}
            <li class="pagination-control"><a href="?page={{ tests.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ tests.number }} of {{ tests.paginator.num_pages }}</a></li>

        {% if tests.has_next %}
            <li class="pagination-control"><a href="?page={{ tests.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>

<div class="table">
  <div class="header">
    <div class="cell" style = "width: 100px;">Date Time</div>
    <div class="cell">Run</div>
    <div class="cell">Conditions</div>
    <div class="cell">Arguments</div>
    <div class="cell">Step</div>
    <div class="cell">Duration</div>
    <div class="cell">Results</div>
    <div class="cell" style = "width:275px;">Caused Bug</div>
    <div class="cell" style = "width:150px;">Comment</div>
    <div class="cell">History?</div>
    
  </div>
  <div class="rowGroup">    
    {% for test in tests %}
    <div class="row" style="height:2px;"><!--This is the white seperator between entries--></div>
    <div class="row {{ test.test_results|translate_PF_class }}">    
        {# Each "test" is a Test model object. #}
        <div class = "cell">{{test.parentrun.end_time|date:"d M H:m"}}</div>
        <div class = "cell"><a href = "/runs/id/{{test.parentrun.pk}}/">{{test.parentrun.pk}}</a> -> <a href="/tests/run/{{test.parentrun.pk}}/">Tests</a></div>
        <div class = "cell"><div style = "width: 200px; max-width: 200px; word-wrap: break-word;">{{ test.test_conditions }}</div> </div>
        <div class = "cell"><div style = "width: 200px; max-width: 200px; word-wrap: break-word;"> {{ test.test_args }}</div> </div>
        <div class = "cell">{{ test.test_sequence_number }}</div>
        <div class = "cell">{{ test.test_duration|format_time }}</div>
        <div class = "cell">{{ test.test_results|translate_PF }}</div>
        <div class = "cell">{{ test.caused_bug|jira_pull|safe }}</div>
        <div class = "cell">{{ test.comment|linebreaks }}</div>
        <div class = "cell"><button class = "alignright" id="my-edit-button-{{test.pk}}">Edit</button>{% if test.history.all.count > 1 %} <button class = "alignright" id="my-history-button-{{run.pk}}">Hist</button> {% endif %}
        
        </div>
    </div>
    {% endfor %}

  </div>
</div>


<center>
<div class = "navbar">
<ul class="pagination pagination-content">
        {% if tests.has_previous %}
            <li class="pagination-control"><a href="?page={{ tests.previous_page_number }}">Prev</a></li>
        {% endif %}

        
            <li><a>Page {{ tests.number }} of {{ tests.paginator.num_pages }}</a></li>

        {% if tests.has_next %}
            <li class="pagination-control"><a href="?page={{ tests.next_page_number }}">Next</a></li>
        {% endif %}
</ul>
</div>
</center>
{% endblock %}

{% block footscripts %}
<script>    
{% for test in tests %}
;(function($) {
        $(function() {
            $('#my-edit-button-{{test.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            contentContainer:'.content',
            loadUrl: '/tests/edit/{{test.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
;(function($) {
        $(function() {
            $('#my-history-button-{{test.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            contentContainer:'.content',
            loadUrl: '/tests/history/{{test.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
{% endfor %}
</script>
{% endblock %}