{% load views_extras %}
<!DOCTYPE html>
<!--rendered with base template-->
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CATTLE{% endblock %}</title>
        <!--default styles-->
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/static/css/basicviewscheme.css">    
        
        <link rel="stylesheet" type="text/css" href="/static/css/top-menu.css" />

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block styles %}
        <!--no custom styles provided-->
        {% endblock %}
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/static/js/jquery.bpopup.min.js"></script>
        
        {% block headscripts %}
        <!--no scripts provided-->
        {% endblock %}
        
    </head>
    <body>
        <!-- Edit mode pop up holder-->
<div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9999; opacity: 1; display: block; height: auto; display:none;" id="edit_pop_up">
        <span class="button b-close"><span>X</span></span>
        <div style="height: auto; width: auto; background-color:white;" class="content"></div>
</div>


        <!--Main Menu-->
        
        <div id='cssmenu'>
<ul>
   <li><a href='/'>CATTLE Home</a></li>
   <li class='has-sub'><a href='/buildreports/'>Buildreports</a>
      <ul>
         <li><a href='/buildreports/'>My List of Buildreports</a></li>
         <li><a href='/buildreports/all/'>All Buildreports</a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='/commits/list'>Commits</a>
      <ul>
         <li><a href='/commits/list'>All commits</a></li>
         {% if request.user.is_authenticated %}<li><a href='/commits/list/author/{{ request.user.get_username }}/'>All my commits</a></li>{% else %}<li><a style="color:orange;" href="/accounts/login/?next={{request.path}}">PLEASE LOGIN FOR YOUR COMMITS</a></li>{% endif %}
      </ul>
   </li>
   <li class='has-sub'><a href='/runs/'>Runs</a>
      <ul>
         <li><a href='/runs/'>All Runs</a></li>
      </ul>
   </li>
   <li><a href='#' target='_blank'>CATTLE Help</a></li>
   <li><a href='http://jira.yourdomain.com/browse/AUTO-1275' target='_blank'>report a bug/request a feature</a></li>
   <li class='has-sub'><a href=''>Other Tools</a>
      <ul>
         <li><a href='http://cowtracks.yourdomain.com' target='_blank'>Cowtracks</a></li>
      </ul>
   </li>
   <li>
   {% if request.user.is_authenticated %}
    <a href="/accounts/logout/">Welcome, {{ request.user.get_username }}. Thanks for logging in. (LOGOUT)</a>
{% else %}
    <a style="color:orange;" href="/accounts/login/?next={{request.path}}">PLEASE LOGIN</a>
{% endif %}
   </li>
</ul>
</div>
		<div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
    <footer>
    {% block footscripts %}
    <!--no scripts provided-->
    {% endblock %}
    </footer>
</html>